
*{
    font-family: 'Young Serif', serif;
    color: aliceblue;
}
.validator{
    color: red;
    background-color: white;
    border: 1px solid blueviolet;
    border-radius: 5px;

}
.redBorder{
    border: red 2px solid;
}


.addIcon{
    width: 16px;
    height: 14px;
    font-weight: 900px;
    margin: 7px;
}
.ClearAll-Icon{
    width: 16px;
    height: 14px;
    font-weight: 900px;
    margin: 7px;
    color: white;
    size: 20px;

}

.main{

    margin-top: 5%;
}
.bg-pic{
    
    background-image:url('assets/Screenshot\ 2023-10-01\ 035933.png') ;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed; /* Optional: This will make the image stay fixed while scrolling */
     

}
td{
    font-size: large;
    font-weight: 500;
    text-transform: uppercase;
}
.edit-btn{
    background-color: green !important;
}
.rem-btn{

    background-color:#dc3545 !important ; 
 }

 #toDoTable{
    border-radius: 3px !important;
 }
 .custom-input {
    color: black !important;
    
}